.box_6{
	background-color:#ff3333;
	height: 100px;
	margin-bottom: 10px;
}
.box_7{
	background-color:#4d79ff;
	
}
.box1{
	background-color: gray;
	height: 100px;
	margin-bottom: 10px;
}

.box_r{
	background-color:#ff8080 ;
}

.box_r1{
	background-color:#ffcccc ;
}
.box_r2{
	background-color:#ff8080;
}
.box_r3{
	background-color: #b3c6ff;
}
.box_r4{
	background-color: #e6ecff;
}
.box_r5{
	background-color: #b3c6ff;
}